*{margin: 0; padding: 0; box-sizing: border-box;}

.nav{
    height: 60px;
    width: 100%;
    background-color: black;
    align-items: center;
}
.nav img{
    height: 45px;
    width: 70px;
}
.nav ul{
    display: flex;
    color: white;
    align-items: center;
    height: 60px;
    list-style-type: none;
}
.nav ul li{
    padding: 10px;
    /* font-weight: 600; */
    /* font-size: 17px; */
}
.logo{
    display: flex;
    align-items: center;
    font-size: 23px;
}

.container{
    min-height: 70vh;
    width: 70%;
    margin: auto;
    background-color: black;
    margin: 20px auto;
    color: white;
    background-image: url(bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 5px grey , -5px -5px 5px grey;
}
.bottom{
    height: 120px;
    background-color: black;
    position: sticky;
    bottom: 0;
    /* display: flex; */
}
.icons{
    color: white;
    margin-left: 50%;
    margin-top: 10px;
}

#progressbar{
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    cursor: pointer;
}

.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 40%;
    color: black;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}
.songitem img{
    height: 43px;
    border-radius: 50%;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 150px;
    bottom: 15px;
    color: white; 
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#masterplay{
    cursor: pointer;
}
#previous{
    cursor: pointer;
}
#next{
    cursor: pointer;
}
#masterplay:hover{
    color: blue;
}
#next:hover{
    color: red;
}
#previous:hover{
    color: red;
}
.songitem:hover{
    box-shadow: 5px 5px 5px grey , -5px -5px 5px grey;
}


